<h2>Student Registration</h2>

<form #studentForm="ngForm" (ngSubmit)="onSubmit()">

  <label>Name</label><br>
  <input
    type="text"
    name="name"
    [(ngModel)]="student.name"
    #name="ngModel"
    required
  >

  <div *ngIf="name.invalid && name.touched">
    <small style="color:red;">Name is required</small>
  </div>

  <br><br>

  <label>Email</label><br>
  <input
    type="email"
    name="email"
    [(ngModel)]="student.email"
    #email="ngModel"
    required
    email
  >

  <div *ngIf="email.invalid && email.touched">

    <small
      *ngIf="email.errors?.['required']"
      style="color:red;">
      Email is required
    </small>

    <small
      *ngIf="email.errors?.['email']"
      style="color:red;">
      Enter a valid email
    </small>

  </div>

  <br><br>

  <label>Course</label><br>

  <select
    name="course"
    [(ngModel)]="student.course"
    #course="ngModel"
    required>

    <option value="">Select Course</option>
    <option>Angular</option>
    <option>React</option>
    <option>.NET Core</option>
    <option>SQL Server</option>

  </select>

  <div *ngIf="course.invalid && course.touched">
    <small style="color:red;">
      Please select a course
    </small>
  </div>

  <br><br>

  <button
    type="submit"
    [disabled]="studentForm.invalid">
    Register
  </button>

</form>

<hr>

<h3>Preview</h3>

<p>Name : {{student.name}}</p>
<p>Email : {{student.email}}</p>
<p>Course : {{student.course}}</p>